.header__status{
    margin: 0;
    padding: 8px 0 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.35s linear;
   
}
 
 
 
 
 
