.profile__profession {
    justify-content: start;
    max-width: 336px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

@media screen and (max-width:900px) {
    .profile__profession {
        max-width: 250px;
        font-size: 14px;
        line-height: 17px;
    }

}