.login__button{
cursor: pointer;
margin-top: 216px;
margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: white;
    width: 100%;
    min-width: 358px;
    height: 50px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: black;
    z-index: 1;
    
}