.element {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    object-fit: scale-down;
    position: relative;
}

@media screen and (max-width:900px) {
    .element {
        object-fit: scale-down;
        width: 100%;
    }

}

.element:hover {
    cursor: pointer;
}