@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/content/content.css);
@import url(./vendor/inter.css);
@import url(./blocks/body/body.css);
/*Блок header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
/*Блок profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
/* Блок popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input/_item/popup__input_item_text.css);
@import url(./blocks/popup/__input/_item/popup__input_item_link.css);
@import url(./blocks/popup/__button/_add/popup__button_add.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_item/popup__input_item_name.css);
@import url(./blocks/popup/__input/_item/popup__input_item_profession.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_image/popup_image.css);
@import url(./blocks/popup/__container-images/popup__container-images.css);
@import url(./blocks/popup/__image-close/popup__image-close.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__input/_item/popup__input_item_error.css);
@import url(./blocks/popup/__input/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input/_item/popup__input_item_avatar.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__section/popup__section.css);
@import url(./blocks/profile/__avatars/profile__avatars.css);
@import url(./blocks//login/login.css);
@import url(./blocks/login/login__container/login__container.css);
@import url(./blocks/login/login__form/login__form.css);
@import url(./blocks/login/login__input/login__input.css);
@import url(./blocks/login/login__title/login__title.css);
@import url(./blocks/login/login__button/login__button.css);
@import url(./blocks/login/login__input/_item-password/login__input__item-password.css);
@import url(./blocks/header/__status/header__status.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/popup/_check/popup_check.css);
/*Блок elements*/
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__footer/element__footer.css);
@import url(./blocks/element/__button/element__button.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__button/_active/element__button_active.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__likes-number/element__likes-number.css);
/*Блок footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);